.portrait {
    float: right;
    margin-left: 20px;
    margin-bottom: 0px;
    width: 25%;
}

.inline-icons {
    float: right;
    margin: 5px 5px 5px 5px;
}

.UoM {
    color: #0071e9;
}

.follows-heading {
    margin-top: -.5rem;
}

#UoM-Logo {
    float: left;
    margin: 0px;
    margin-right: 10px;
    margin-top: -10px;
    margin-left: -15px;
    width: 12%;
}

.date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 0rem;
    color: #919CAC;
    font-weight: 300;
}

.inline {
    display: inline-block;
}

#jun-eng {
    color: #FF9933;
}

.white {
    color: #DFE3E8;
}

.indented {
    margin-left: 40px;
}