<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter.
      {% endcomment %}

      <ul class="nav">
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              {% if node.mostra != "nao" %}
                  <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div id="icons">
      <div class="inline-icons">
        <a href="http://www.linkedin.com/in/lucas-fern"><img src="/res/linkedin.png" alt="linkedin" width="30" height="30"></a>
      </div>
    
      <div class="inline-icons">
        <a href="https://github.com/lucas-fern"><img src="/res/github.png" alt="github" width="30" height="30"></a>
      </div>
    </div>
  </div>
</div>